:host {
  display: block;
}

.main-layout {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

vaadin-grid {
  --primary-color: grey;
  --vaadin-grid-row-height: 35px;

  line-height: 30px;
}
.file-list {
  text-align: center;
}
.edit-layout {
  display: flex;
}
.edit-layout paper-button {
  display: flex;
  margin: 10px;
}
.submit-button {
  margin: 5px;
  padding: 8px;
  width: 100%;
}
.top-controller {
  display: flex;
  padding: 20px;
  height: 20%;
}
.top-controller paper-input {
  height: 10px;
  width: 60%;
  max-width: 200px;
}
section {
  width: 100%;
  height: 70vh;
}
section paper-dialog-scrollable {
  height: 100%;
}


